@import url(reset.css);

.cards {
  border: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  padding: 7px 7px;

}

.bouton  {
  color: white;
  background-color:rgb(179, 179, 179);
  font-family: 'Merriweather', serif;
  cursor: pointer;
  border-radius: 8px;
  border: none;

}