@import url(reset.css);

.site {
    background-color: #0A192F;
    height: 100vh;
    background-size: cover;
}

.title {
    font-family: 'Hurricane', cursive;
    color: #64ffda;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
}

.image {

    padding-top: 5%;
    border-radius: 8px;
}
@media screen and (max-width: 500px) {

    .img {
        border-radius: 8px;
        height: 400px;
        width: 400px;
        float: left;
    }
}
.img {
    border-radius: 8px;
    height: 100px;
    width: 100px;
    float: left;
}
.info-global {
    color: #fff;
    border: none;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    margin: 1%;
}
.info-global-title {
    font-size: 30px;
}
.info-global-place {
    font-size: 25px;
}