<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="site">
        <div id="title">
            <span>ARTISTS</span>
        </div>
        <div>
            <form method="post" action="/artist">
                <input name="SearchBar" type="search"  list="Bar">
                <datalist id="Bar">
                    {{range .VarArtists.Artists}}
                    <option value="{{.Name}}">
                        {{range .Members}} 
                    <option value="{{.}}">
                        {{end}}
                    <option value="{{.FirstAlbum}}">
                    <option value="{{.CreationDate}}">
                    {{end}}
                  </datalist>
            </form>
        </div>
        <div>
            {{if not .SearchBar2.SearchBar}}
                {{range .VarArtists.Artists}}
                <a class="cards">
                    <form method="POST" action="/artist/{{.ID}}">
                        <input name="Oui" type="hidden" value="{{.ID}}">
                        <div class="img">
                        <button class="bouton" type="submit">
                            <div class="img">
                                <img src="{{.Image}}">
                            <div>
                                {{.Name}}
                            </div>
                        </div>
                        </button>
                    </div>
                    </form>
                </a>
                {{end}}
            {{else}}
                <form method="POST" action="/artist/{{.SearchBar2.Artist.ID}}">
                    <input name="Oui" type="hidden" value="{{.SearchBar2.Artist.ID}}">
                    <button class="button" type="submit">
                        <div class="img">
                            <img src="{{.SearchBar2.Artist.Image}}">
                        </div>
                        <div>
                            {{.SearchBar2.Artist.Name}}
                        </div>
                    </button>
                </form>
            {{end}}
        </div>
    </div>
</body>

</html>