<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src=" {{.VarArtists.Image}}" alt="">
    </div>
    <div>
        <p>First Album</p>
       {{.VarArtists.FirstAlbum}}
        <div>
            <p>Concert</p>
            {{range $key, $value := .Relation.DatesLocations}}
                <div>
                    {{$key}}
                </div>
                <div>
                    {{range $value}}
                        <div>
                            {{.}}
                        </div>
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
</body>
</html>